@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  font-family: "Varela Round", sans-serif;
  background: #ededed;
  display: flex;
  place-content: center;
}

.body {
  background: #181818;
}

h1{
    margin-bottom: 20px;
}

.button {
  width: 60px;
  padding: 20px 10px;
  margin: 3px;
  border: 2px solid black;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  background: black;
  color: white;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
  font-size: medium;
}

.row {
  margin: 5px 0;
}

.row input {
max-width: 100%;
  font-size: 30px;
  padding: 10px;
  border-radius: 5px;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
  font-size: larger;
  color: black;
}

img{
    width: 25px;
    cursor: pointer;
}

.firstblock {
  background: #2d3339;
  border-radius: 65px 65px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 170px;
  justify-content: center;
  padding-bottom: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.calc {
  width: 300px;
  border-radius: 50px;
  background: black;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  margin-top: 30px;
}

.ccalc{
background: whitesmoke;
}

.cfirstblock {
    background: white;
    color: black;
  }

